* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Systeme UI', sans-serif;
}

::selection {
    background-color: #ff9900;
    color: #fff;
}

body {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
}

.deconnect {
    background-color: #ff9900;
    padding: 8px 16px;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.deconnect:hover {
    background-color: #fff;
    color: #b37211;
}

.active {
    color: #ff9900 !important;
    opacity: 1 !important;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #ff9900;
    color: #fff;
    font-size: 18px;
}

.notification a {
    color: #fff;
    text-decoration: none;
}

.notif {
    margin-left: 10px;
}

.notif a {
    color: #fff;
    text-decoration: none;
}

.notif a:hover {
    text-decoration: underline;
}

.notif .close {
   position: relative;
   display: flex;
   float: right;
   left: 100%;
}

.notif .close:hover {
    color: #333;
    border: none;
}

.notif_logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

svg {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

svg:hover {
    color: #ff9900;
    cursor: pointer;
}

.calendar_container {
    border-right: 1px solid #333;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    float: left;
}

.calendar_container h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
}

.calendar {
    text-align: center;
    margin-bottom: 20px;
    width: 370px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    border: 1px solid #333;
    box-sizing: border-box;
}

.calendar .days-container .dim_sam {
    color: red;
    opacity: 0.4;
}

.calendar .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.calendar .header th {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .header h2 {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.calendar .header th:first-child,
.calendar .header th:last-child {
    cursor: pointer;
}

.calendar .header button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    border-radius: 100%;
}

.calendar .header button:hover {
    background-color: #ff9900c9;
}

.days th {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
}

.days th span {
    margin: auto;
    transition: background-color 0.3s ease-in-out;
}

.calendar thead th,
.calendar tbody td {
    padding: 10px;
    box-sizing: border-box;
}

.calendar tbody td:hover {
    background-color: #ff99009a;
    color: #fff;
    cursor: pointer;

}

.notif_jours {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 45%;
    overflow-y: auto;
}

.notif_jours .notif_contenaire {
    width: 100%;
    padding: 10px;
    transition: background-color 0.1s ease-in-out;

}

.notif_jours .notif_contenaire:hover {
    background-color: #fff;
    cursor: pointer;
}

/* Text message / calendrier */
.notif_jours .notif_contenaire p {
    display: inline-block;
    margin: 5px;
}

.notif_jour p {
    width: 100%;
    display: inline-block;
}

.notif_jours .nouveaux_messages_rond {
    margin: 5px;
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: relative;
    top: 5px;
    box-sizing: border-box;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 5px 0;
}

.jour {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.notif_jour {
    font-size: 14px;
    color: #666;
}

.notif_jour p {
    margin: 5px;
    padding: 5px;
}

.container_sc{
    display: flex;
    align-items: center;
    padding: 10px;
}

.Statistiques {
    padding: 20px;
    border-radius: 10px;
    border-radius: 0px;
}

.Statistiques p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
}

.Statistiques .statut-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Statistiques span {
    font-size: 14px;
    color: #666;
    position: relative;
    top: 0;
    text-align: center;
}

.nouveaux_messages_rond_green,
.nouveaux_messages_rond_red,
.nouveaux_messages_rond_yellow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background-color: red;
}

.nouveaux_messages_rond_red {
    background-color: red;
}

.nouveaux_messages_rond_green {
    background-color: rgb(0, 255, 0);
}

.nouveaux_messages_rond_yellow {
    background-color: yellow;
}

.container_json_code {
    border-radius: 8px;
    width: 100dvh;
    border: 1px solid #ccc;

}

.container_json_code h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.container_json_code p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.container_json_code pre {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
}

.container_json_code svg{
    position: relative;
    float: right;
    color: #666666;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container_json_code svg:hover{
    color: #333333;
}