/* Style de base pour la liste des utilisateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenaire {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
}

#user-list {
    position: relative;
    float: left;
    border-right: 1px solid #ccc;
    height: 100%;
}


#user-list .padding_list {
    padding: 5px;
}

#user-list .header_section_users_list {
    width: 100%;
    height: 70px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px 0;
}

#user-list .header_section_users_list h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 20px;
    color: #fff;
}

#user-list .header_section_users_list button {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #ff9900;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid #ff9900;
}

#user-list .header_section_users_list button:hover {
    background-color: #fff;
    border: 1px solid #ff9900;
    color: #ff9900;
}

#user-list .list {
    width: 100%;
    height: calc(100vh - 270px);
}

#user-list .serach_padding {
    padding: 5px;
}

#user-list .search_svg {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 5px;
}

#user-list .search_svg svg {
    fill: #333;
}

#user-list .search_svg input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 2px;
    background-color: transparent;
}

#user-list .search_svg input[type="text"]::placeholder {
    color: #999;
}

#user-list .search_svg:focus-within {
    border: 2px solid #ff9900;
}

#users {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


#user-list .users-list-height {
    height: 100%;
}

#user-list ul {
    list-style: none;
    padding: 0;
}

#user-list ul li {
    background-color: #fff;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#user-list ul li:hover {
    background-color: #dad9d9;
}


#users .active_user {
    background-color: #dad9d9;
}

#user-count-message {
    opacity: 0.5;
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    position: relative;
}


/* Mettre la scrolbbar en thin */
#users {
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

#user-info{
    position: relative;
    flex: 1;
}

#user-info {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
}

#user-info p {
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0;
}

#user-info button {
    background-color: #ff9900;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid #ff9900;
}

#user-info button:hover {
    background-color: #fff;
    border: 1px solid #ff9900;
    color: #ff9900;
}

footer {
    position: relative;
    border-top: 1px solid #ccc;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer svg {
    color: #333;
    margin-right: 5px;
}