header {
    background-color: #f4f5f7;
    border-bottom-left-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    img {
        margin-right: 5px;
    }

    .header-top {
        display: flex;
        align-items: center;

        p {
            font-size: 1.5rem;
            font-family: "Carter One", system-ui;
        }
    }

    .header-ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            padding: 5px;
            align-items: center;

            li {
                display: flex;
                margin-right: 10px;
                font-family: inherit;
                align-items: center;
                text-align: center;
                padding: 5px;
                border-radius: 3px;
                border: 1px solid transparent;

                &:hover {
                    background-color: #eee2ff;
                    border: 1px solid #a066f2;

                    color: #a066f2;
                    cursor: pointer;
                }
            }
        }


    }

    .header-right {
        margin-right: 5px;

        button {
            border: 1px solid transparent;
            background-color: #8d59d5;
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                background-color: #ad72ff;
            }
        }

        &.none {
            display: none;
        }
    }
}