// variable
$primaryColor: #A066F2; // Couleur principale violette
$secondaryColor: #9ca3af; // Gris
$backgroundColor: #f3f4f6; // Gris très clair
$textColor: #1f2937; // Gris foncé
$errorColor: #dc2626; // Rouge pour les messages d'erreur
$highlightColor : #7C3AED; // Couleur de surbrillance violette
$CouleurFondPrimary: #5F5BD9; // Couleur principale violette
$CouleurFondSecondary: #BD50BF; // Couleur principale violette

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Systeme UI', sans-serif;
}

header {
    background-color: #ffffff;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #EAEEF7;
    position: fixed;
}

header .logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EAEEF7;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header .logo span {
    font-size: 20px;
    font-weight: 500;
    color: #1F2937;
    margin-left: 10px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    padding: 20px 0;
    text-align: left;
    position: relative;
    left: 15%;
}

header ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}


header ul li a {
    text-decoration: none;
    color: #1F2937;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
}

header ul li a:hover {
    background-color: #EAEEF7;
}


header ul .logout {
    padding: 20px 0;
    width: 100%;
    border-top: 1px solid #EAEEF7;
    position: relative;
    left: 0;
    top: 280px;
    text-align: center;
}


header ul .logout button {
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #1F2937;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #EAEEF7;
}

header ul .logout button:hover {
    background-color: #EAEEF7;
}


.bull_info_profil_vite_fais {
    position: relative;
    left: 45%;
    top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 99999999999999999999%;
    text-align: left;
    background-color: #1F2937;

    p {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        margin-left: 10px;
        left: 30%;
        top: -40px;
    }

    img {
        width: 30%;
        position: relative;
        top: 1px;
        left: 5px;
    }
}


.sugestion {
    position: relative;
    left: 75%;
    top: 50px;
    width: 250px;

    h1 {
        font-size: 16px;
        font-weight: 500;
        color: #1F2937;
        margin-bottom: 20px;

        span {
            color: #7C3AED;
            position: relative;
            left: 85px;
        }
    }

    .bull_sugestion {
        background-color: #1F2937;
        color: #fff;
        width: 300px;

        .profil_view_box {
            height: 60px;

            p {
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                position: relative;
                left: 50px;
                top: -45px;
            }

            img {
                width: 50px;
                height: 50px
            }

            .petit {
                font-size: 10px;
            }

            a {
                text-decoration: none;
                color: #7C3AED;
                font-size: 14px;
                font-weight: 500;
                position: relative;
                left: 190px;
                top: -70px;
            }
        }

    }
}


.Publications {
    position: relative;
    left: 15%;
    top: -550px;
    border-bottom: 1px solid #EAEEF7;
    width: 55%;

    h1 {
        padding: 10px;
        font-size: 20px;
    }
}

.publication_text {
    position: relative;
    left: 15%;
    top: -550px;
    width: 55%;
    border-bottom: 1px solid #EAEEF7;
    padding: 10px;
    height: 253px;

    .Auteur {
        font-size: 14px;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        color: #1F2937;
        position: relative;
        left: 70px;
        top: -55px;
    }

    // TextArea style 
    textarea {
        width: 100%;
        height: 100px;
        border: none;
        outline: none;
        resize: none;
        font-size: 16px;
        font-weight: 500;
        color: #1F2937;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #EAEEF7;
        margin: 10px;
        position: relative;
        top: -40px;
        transition: all 0.3s ease-in-out;

        &:focus {
            border: 1px solid #7C3AED;
        }
    }

}

.message {
    left: 13%;
    border-bottom: 1px solid #EAEEF7;
    width: 100%;
    height: 10px;
    position: fixed;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            margin: 20px;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 20px;
        font-weight: 500;
        color: #1F2937;
        margin-bottom: 20px;
        position: relative;
        left: 2%;
        top: 20px;
        width: 164px;

        span {
            position: relative;
            top: -5px;
        }
    }

}

.message__content {
    position: fixed;
    left: 13%;
    width: 20%;
    top: 100px;
    padding: 10px;
    border-right: 1px solid #EAEEF7;
    height: 100vh;
    z-index: -1;

    .boite_reception {
        border-bottom: 1px solid #EAEEF7;
        height: 75px;
        z-index: -1;
    }

    .boite_reception:hover {
        cursor: pointer;
        background-color: #EAEEF7;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        color: #1F2937;
        position: relative;
        left: 70px;
        top: -55px;
    }

}

.contenu_corps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    width: 50%;
    max-height: 89vh;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: -90px;

    .vous {
        background-color: #5F5BD9;
        padding: 10px;
        /* Utiliser le padding au lieu de margin-top */
        color: #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: relative;
        z-index: -1;
        width: 70%;
        left: 20%;
    }

    .autre {
        background-color: #EAEEF7;
        padding: 10px;
        /* Utiliser le padding au lieu de margin-top */
        color: #1F2937;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 70%;
    }

    .date {
        position: relative;
        font-size: 12px;
        top: 25px;
        display: block;
        color: #1F2937;

    }

    .input_send_message {
        width: 50%;
        position: fixed;
        bottom: 70px;
        left: 0;
        padding: 10px;
        left: 35%;
        z-index: 1;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        resize: none;
        font-size: 16px;
        font-weight: 500;
        color: #1F2937;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #EAEEF7;
        position: absolute;
        z-index: 1;

        &:focus {
            border: 1px solid #7C3AED;
        }
    }
}