// Import des modules de style
@use "Header";
@use "NavBarHome";
@use "SectionMessage";

// variable
SectionMessage.$primaryColor: #a066f2;

$secondaryColor: #9ca3af;
$backgroundColor: #f3f4f6;
Header.$textColor: #1f2937;

$errorColor: #dc2626;
$highlightColor: #7c3aed;
$CouleurFondPrimary: #5f5bd9;
$CouleurFondSecondary: #bd50bf;

// Mixin
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #999 #e6e6e6;
}

.body_private {
    height: 100dvh;
    font-family: system-ui;
    font-size: 1rem;
    display: flex;
    overflow-y: hidden;
}

::selection {
    background-color: SectionMessage.$primaryColor;
    color: $backgroundColor;
}
