// Définir les variables
$BorderSeparator: 1px solid #e6e6e6;
$textColor: #333;
$primaryColor: #a066f2;
$secondaryColor: #854ed3db;

.global {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    flex: 1;

    .Contact {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-right: $BorderSeparator;
        flex: 0 0 320px;
        overflow-y: scroll;
        overflow-x: hidden;

        .contact_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
            border-bottom: $BorderSeparator;

            svg {
                cursor: pointer;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        section {
            border-bottom: $BorderSeparator;
            color: $textColor;
            text-decoration: none;
            display: flex;
            align-items: center;

            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 10px;

                .contact_user_section {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    white-space: nowrap;

                    .pseudo {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 250px;
                        font-size: 1.2rem;
                    }

                    .user_message {
                        font-size: 0.8rem;
                    }
                }
            }

            .contact_user_section {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                white-space: nowrap;

                .pseudo {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 250px;
                    font-size: 1.2rem;
                }

                .user_message {
                    font-size: 0.8rem;
                }
            }

            &:hover {
                background-color: rgb(230 226 226 / 55.3%);
            }
        }
    }

    .parent-container {
        display: flex;
        flex-direction: column;
    }

    .scrollbar_msg {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
    }

    .message_action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: $BorderSeparator;
        position: fixed;
        bottom: 0;

        form {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                width: 100%;
                padding: 10px;
                font-size: 1rem;
                outline: none;
                border: 1px solid #e6e6e6;

                &:focus {
                    border: 1px solid $primaryColor;
                }
            }
        }
    }

    .message_content {
        display: flex;
        flex-direction: column;
        height: 88vh;
        flex: 1;

        .message_conteneur {
            display: flex;

            .message_send {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                vertical-align: middle;
                word-wrap: break-word;
                width: 250px;

                p {
                    margin-left: 10px;
                    background-color: #e6e6e6;
                    color: black;
                    padding: 10px;
                    border-radius: 5px;
                    width: 100%;
                }
            }

            .message_receipt {
                display: flex;
                flex-direction: row;
                vertical-align: middle;
                word-wrap: break-word;
                width: 250px;
                margin-top: 10px;
                margin-left: auto;

                p {
                    background-color: #a066f2;
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }

    .box_search_contact {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
        display: block;
        align-items: center;
        justify-content: center;
    }

    .search_contact {
        position: relative;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        width: 500px;
        height: 500px;
        display: block;

        h1 {
            display: flex;
            font-size: 1.5rem;
            margin-bottom: 20px;
            justify-content: center;
        }

        .close {
            position: absolute;
            justify-content: flex-end;
            display: flex;
            cursor: pointer;
            top: 15px;
            right: 15px;

            svg {
                font-size: 1.5rem;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        .list_user_contact {
            flex-direction: column;
            flex: 0 0 320px;

            .scrollbar_list_contact {
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                height: 350px;
            }

            .active {
                background-color: rgb(230 226 226 / 55.3%);

                button {
                    background-color: $primaryColor;
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    border: none;

                    &:hover {
                        background-color: $secondaryColor;
                    }
                }
            }

            section {
                border-bottom: $BorderSeparator;
                border-left: $BorderSeparator;
                border-right: $BorderSeparator;
                color: $textColor;
                text-decoration: none;
                display: flex;
                align-items: center;

                .contact_user_section {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    white-space: nowrap;

                    .pseudo {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 250px;
                        font-size: 1.2rem;
                    }

                    .user_message {
                        font-size: 0.8rem;
                    }
                }

                &:hover {
                    background-color: rgb(230 226 226 / 55.3%);
                }
            }
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-left: auto;
        }

        input[type="checkbox"]:checked {
            background-color: $primaryColor;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            outline: none;
            border: 1px solid #e6e6e6;

            &:focus {
                border: 1px solid $primaryColor;
            }
        }
    }
}