<link rel="stylesheet" href="header_css">

<header>
    <div id="logo">
        <img src="/logo" alt="logo" />
        <p>Majax admin panel</p>
    </div>
    <nav>
        <a href="home" exact>
            <import src="./svg/Home.svg"  />
            home
        </a>
        <a href="Utilisateurs" exact>
            <import src="./svg/account.svg" />
            Utilisateurs
        </a>
        <a href="Messages" exact>
            <import src="./svg/message.svg" />
            Messages
        </a>
        <a href="Statistiques" exact>
            <import src="./svg/graph.svg" />
            Statistiques
        </a>
        <a href="Support" exact>
            <import src="./svg/help.svg" />
            Support
        </a>
        <a href="https://github.com/Rayan-El-Manssouri/Mercure/blob/master/Majax/index.md" target="_blank">
            <import src="./svg/book.svg" />
            Doc
        </a>
        <div class="logout">
            <p>Déconnexion</p>
        </div>
    </nav>

</header>