@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: 'System UI', sans-serif;
    box-sizing: border-box;
}

#__next {
    height: 100%;
}

@font-face {
    font-family: 'Cantarell';
    src: url('../public/font/Cantarell-Regular.ttf') format('truetype');
}

.message-container {
    max-width: 400px;
    word-wrap: break-word;
}

.not-latest-message {
    margin-right: 30px; /* Ajoutez la marge supplémentaire souhaitée */
}